- # encoding: UTF-8
!!! 5
%html(lang="hr")
  %head
    %title Shift Conference 2018

    %meta(charset="UTF-8")
    %meta(name="keywords" content="Shift, 2018")
    %meta(name="description" content="")
    %meta(name="author" content="horvaticluka@gmail.com")
    %meta(id="meta" name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1.0")

    %link(rel="stylesheet" href="css/main.css")
    %link(rel="stylesheet" href="css/query.css")

  %body

    / NAVBAR SECTION **************************************
    .navBar
      .container
        .navBar__logo
          %img(src="img/shift-logo-white.svg" alt="Shift 2018")/
        .navBar__btn

        .navBar__nav
          .navBar__close
          %ul
            %li
              %a.nav__link(href="#speakers") Speakers
            %li
              %a.nav__link(href="#schedule") Schedule
            %li
              %a.nav__link(href="#tickets") Tickets
            %li
              %a.nav__link(href="#location") Location
            %li
              %a.nav__link(href="#sponsors") Sponsors
            %li
              %a.nav__link(href="#footer") Contact
            %li
              %a.btn.blue.fill(href="#tickets") Buy Tickets

    / HERO SECTION **************************************
    #hero.section
      .container

        .heroBox
          .heroBox__date
            .heroBox__date--text 1 & 2 June
            .heroBox__date--line
            .heroBox__date--text Split, Croatia
          .heroBox__heading
            %strong Largest Developer Conference
            %br
            in South East Europe
          .heroBox__buttons
            %a.btn.blue.empty(href="#tickets") Get Tickets
            .heroBox__buttons-spacer or
            .btn.link.white Watch live stream

        .heroDate
          1-2 / 6 / 2018

    / ABOUT SECTION **************************************
    #about.section
      .container
        %h1.small
          %span SHIFT
          Developer Conference 2017
        .title-desc The biggest Developer Conference in Southeast Europe

        .about__event
          %img(src="img/about.jpg" alt="Shift Conference")/
          %i.icon.calendar
          %h2 Event
          %p The biggest Developer Conference in Southeast Europe. This event, Shift 2017 is the sixth and will bring together more than 1500 attendees. During the two conference days, Shift becomes a meeting place for developers in the most beautiful city in the world.

        .about__wrap
          .about__talks
            %i.icon.chat
            %h2 Talks
            %p Learn about the most cutting edge technologies, techniques and biggest trends in the developer space, with speakers coming from the likes of; GitHub, Twitch, Atlassian, GitLab, Heroku, Google, Facebook and many more.

          .about__workshops
            %i.icon.team
            %h2 Talks
            %p Industry experts and thought leaders will bring you up to speed with some of the most exciting technologies: React, React Native, Webpack, and Symphony. Two-hour long hands-on workshops will be running in parallel with the rest of the event so don't forget your laptops. Workshops will take place in Area 55, seating capacity is limited so come early.

    / NUMBERS SECTION **************************************
    #numbers.section
      .container
        .numbers
          .numbers__item
            %span 2
            days
          .numbers__item
            %span 16
            workshops
          .numbers__item
            %span 20
            speakers
          .numbers__item
            %span 1500
            atendeent

    / SPEAKERS SECTION **************************************
    #speakers.section
      .container
        %h1 Speakers
        .title-desc Meet our professonals

        .small-nav1
          #speakers-mainLink.small-nav1__item.active
            main track speakers
          #speakers-areaLink.small-nav1__item
            area 55 speakers

        #speakers-main.speakers-content.show
          .speakers-wrap

            .speaker
              .speaker__image
                %img(src="img/speakers/petar-hopwod.jpg" alt="Petar Hopwood")/
              .speaker__name Petar Hopwood
              .speaker__title Conference Host at Hopwood Communications & Copywriting
              .speaker__more-btn.btn.blue.empty.small(target="1") Read more
              #sm1.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/peterhopwoodpublicspeaking/" target="_blank")
                  %a.social.twitter(href="https://twitter.com/hopwoodmedia" target="_blank")
                  //%a.social.github(href="#" target="_blank")
                .social__bio Global public speaking, impact and presence coach helping professionals, brands and teams to shine with impact when it matters. In demand across Europe and Middle East.

            .speaker
              .speaker__image
                %img(src="img/speakers/kathy-simpson.jpg" alt="Kathy Simpson")/
              .speaker__name Kathy Simpson
              .speaker__title Director of Product at GitHub
              .speaker__more-btn.btn.blue.empty.small(target="2") Read more
              #sm2.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/kathleensimpson/" target="_blank")
                  %a.social.twitter(href="https://twitter.com/simpsoka" target="_blank")
                  %a.social.github(href="https://github.com/simpsoka" target="_blank")
                .social__bio 

            .speaker
              .speaker__image
                %img(src="img/speakers/luca-cipriani.jpg" alt="Luca Cipriani")/
              .speaker__name Luca Cipriani
              .speaker__title CIO at Arduino
              .speaker__more-btn.btn.blue.empty.small(target="3") Read more
              #sm3.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/lucacipriani/" target="_blank")
                  %a.social.twitter(href="https://twitter.com/mastrolinux?lang=en" target="_blank")
                  %a.social.github(href="https://github.com/mastrolinux" target="_blank")
                .social__bio  I am Linux expert and DevOps advocate, now CIO for Arduino and responsible of the Arduino Create platform, my goal is to move millions users to the cloud.

            .speaker
              .speaker__image
                %img(src="img/speakers/wium-lie.jpg" alt="Håkon Wium Lie")/
              .speaker__name Håkon Wium Lie
              .speaker__title Creator at CSS
              .speaker__more-btn.btn.blue.empty.small(target="4") Read more
              #sm4.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/howcome/" target="_blank")
                  %a.social.twitter(href="https://twitter.com/wiumlie" target="_blank")
                  //%a.social.github(href="#" target="_blank")
                .social__bio Originally coming from a radio journalism background, he built his first web site around 1997 and spent the following years working on large, international web sites.

            .speaker
              .speaker__image
                %img(src="img/speakers/seanLarkin.jpeg" alt="Sean Larkin")/
              .speaker__name Sean Larkin
              .speaker__title Technical Program Manager at Microsoft
              .speaker__more-btn.btn.blue.empty.small(target="5") Read more
              #sm5.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/seanthomaslarkin/" target="_blank")
                  %a.social.twitter(href="https://twitter.com/TheLarkInn" target="_blank")
                  %a.social.github(href="https://github.com/thelarkinn" target="_blank")
                .social__bio 

            .speaker
              .speaker__image
                %img(src="img/speakers/marcAbraham.jpg" alt="Marc Abraham")/
              .speaker__name Marc Abraham
              .speaker__title Global ProductTank Coordinator at Mind the Product
              .speaker__more-btn.btn.blue.empty.small(target="6") Read more
              #sm6.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/abrahammarc/" target="_blank")
                  //%a.social.twitter(href="#" target="_blank")
                  //%a.social.github(href="#" target="_blank")
                .social__bio 

            .speaker
              .speaker__image
                %img(src="img/speakers/mathiasMeyer.jpg" alt="Mathias Meyer")/
              .speaker__name Mathias Meyer
              .speaker__title CEO at TravisCI
              .speaker__more-btn.btn.blue.empty.small(target="7") Read more
              #sm7.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/mathias-meyer-50a753aa/" target="_blank")
                  %a.social.twitter(href="https://twitter.com/roidrage" target="_blank")
                  %a.social.github(href="https://github.com/roidrage" target="_blank")
                .social__bio 

            .speaker
              .speaker__image
                %img(src="img/speakers/tarikMakota.jpg" alt="Tarik Makota")/
              .speaker__name Tarik Makota
              .speaker__title Partner Solutions Architect at Amazon Web Services
              .speaker__more-btn.btn.blue.empty.small(target="8") Read more
              #sm8.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/tarik-makota-7627574/" target="_blank")
                  %a.social.twitter(href="https://twitter.com/tarik_makota" target="_blank")
                  %a.social.github(href="https://github.com/tmakota" target="_blank")
                .social__bio 


        #speakers-area.speakers-content
          .speakers-wrap

            .speaker
              .speaker__image
                %img(src="img/speakers/speaker-img.jpg" alt="CHRISTIAN HEILMANN")/
              .speaker__name CHRISTIAN HEILMANN
              .speaker__title HTML5/Open Web Evangelist at Microsoft
              .speaker__more-btn.btn.blue.empty.small Read more
              #sm1.speaker__more
                .speaker__social
                  %a.social.linkedin(href="#" target="_blank")
                  %a.social.twitter(href="#" target="_blank")
                  %a.social.github(href="#" target="_blank")
                .social__bio Originally coming from a radio journalism background, he built his first web site around 1997 and spent the following years working on large, international web sites.

            .speaker
              .speaker__image
                %img(src="img/speakers/speaker-img.jpg" alt="CHRISTIAN HEILMANN")/
              .speaker__name CHRISTIAN HEILMANN
              .speaker__title HTML5/Open Web Evangelist at Microsoft
              .speaker__more-btn.btn.blue.empty.small Read more
              .speaker__more
                .speaker__social
                  %a.social.linkedin(href="#" target="_blank")
                  %a.social.twitter(href="#" target="_blank")
                  %a.social.github(href="#" target="_blank")
                .social__bio Originally coming from a radio journalism background, he built his first web site around 1997 and spent the following years working on large, international web sites.

            .speaker
              .speaker__image
                %img(src="img/speakers/speaker-img.jpg" alt="CHRISTIAN HEILMANN")/
              .speaker__name CHRISTIAN HEILMANN
              .speaker__title HTML5/Open Web Evangelist at Microsoft
              .speaker__more-btn.btn.blue.empty.small Read more
              .speaker__more
                .speaker__social
                  %a.social.linkedin(href="#" target="_blank")
                  %a.social.twitter(href="#" target="_blank")
                  %a.social.github(href="#" target="_blank")
                .social__bio Originally coming from a radio journalism background, he built his first web site around 1997 and spent the following years working on large, international web sites.

            .speaker
              .speaker__image
                %img(src="img/speakers/speaker-img.jpg" alt="CHRISTIAN HEILMANN")/
              .speaker__name CHRISTIAN HEILMANN
              .speaker__title HTML5/Open Web Evangelist at Microsoft
              .speaker__more-btn.btn.blue.empty.small Read more
              .speaker__more
                .speaker__social
                  %a.social.linkedin(href="#" target="_blank")
                  %a.social.twitter(href="#" target="_blank")
                  %a.social.github(href="#" target="_blank")
                .social__bio Originally coming from a radio journalism background, he built his first web site around 1997 and spent the following years working on large, international web sites.

            .speaker
              .speaker__image
                %img(src="img/speakers/speaker-img.jpg" alt="CHRISTIAN HEILMANN")/
              .speaker__name CHRISTIAN HEILMANN
              .speaker__title HTML5/Open Web Evangelist at Microsoft
              .speaker__more-btn.btn.blue.empty.small Read more
              .speaker__more
                .speaker__social
                  %a.social.linkedin(href="#" target="_blank")
                  %a.social.twitter(href="#" target="_blank")
                  %a.social.github(href="#" target="_blank")
                .social__bio Originally coming from a radio journalism background, he built his first web site around 1997 and spent the following years working on large, international web sites.

            .speaker
              .speaker__image
                %img(src="img/speakers/speaker-img.jpg" alt="CHRISTIAN HEILMANN")/
              .speaker__name CHRISTIAN HEILMANN
              .speaker__title HTML5/Open Web Evangelist at Microsoft
              .speaker__more-btn.btn.blue.empty.small Read more
              .speaker__more
                .speaker__social
                  %a.social.linkedin(href="#" target="_blank")
                  %a.social.twitter(href="#" target="_blank")
                  %a.social.github(href="#" target="_blank")
                .social__bio Originally coming from a radio journalism background, he built his first web site around 1997 and spent the following years working on large, international web sites.





    / SCHEDULE SECTION **************************************
    #schedule.section
      .container
        %h1 Schedule
        .title-desc Vast number of different speeches and activities

        .agenda-wrap

          .agenda-nav-wrap
            .agenda-nav
              .agenda-nav__btn(target="an-left")
                <
              .agenda-nav__btn(target="an-right")
                >

          #day1.agenda.show
            .agenda__title Day 1 - 31/05/2018 - Thursday
            .small-nav2
              #day1-mainLink.small-nav2__item.active
                main track
              #day1-areaLink.small-nav2__item
                area 55

            #day1-main.agenda-content1.show
              .agenda__list
                .agenda__list-item
                  .agenda__time 10:00 - 11:00
                  .agenda__desc
                    %span.al-title Registration
                    %span.al-name
                    %span.al-company

                  .agenda__list-item
                    .agenda__time 11:00 - 11:15
                    .agenda__desc
                      %span.al-title Official Opening -
                      %span.al-name Ivan Burazin
                      %span.al-company (Codeanywhere)

                  .agenda__list-item
                    .agenda__time 11:15 - 12:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 12:15 - 13:00
                    .agenda__desc
                      %span.al-title Lunch
                      %span.al-name 
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 13:00 - 14:00
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 14:00 - 15:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 15:15 - 16:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 16:15 - 17:15
                    .agenda__desc
                      %span.al-title Coffee Break
                      %span.al-name
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 17:15 - 18:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 23:00 - 04:00
                    .agenda__desc
                      %span.al-title After Party
                      %span.al-name Vanilla Club
                      %span.al-company




            #day1-area.agenda-content1
              .agenda__list
                .agenda__list-item
                  .agenda__time 11:00 - 12:15
                  .agenda__desc
                    %span.al-title Talk
                    %span.al-name TBA
                    %span.al-company

                  .agenda__list-item
                    .agenda__time 12:15 - 13:15
                    .agenda__desc
                      %span.al-title Lunch
                      %span.al-name
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 13:15 - 14:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 14:15 - 15:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 15:15 - 16:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 16:15 - 17:15
                    .agenda__desc
                      %span.al-title Coffee Break
                      %span.al-name
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 23:00 - 04:00
                    .agenda__desc
                      %span.al-title After Party
                      %span.al-name Vanilla Club
                      %span.al-company



          #day2.agenda
            .agenda__title Day 2 - 01/06/2018 - Friday
            .small-nav3
              #day2-mainLink.small-nav3__item.active
                main track
              #day2-areaLink.small-nav3__item
                area 55

            #day2-main.agenda-content2.show
              .agenda__list
                .agenda__list-item
                  .agenda__time 10:00 - 11:00
                  .agenda__desc
                    %span.al-title Registration
                    %span.al-name
                    %span.al-company

                  .agenda__list-item
                    .agenda__time 11:00 - 11:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 11:15 - 12:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 12:15 - 13:15
                    .agenda__desc
                      %span.al-title Lunch
                      %span.al-name
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 13:15 - 14:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list
                    .agenda__list-item
                      .agenda__time 14:00 - 15:15
                      .agenda__desc
                        %span.al-title Talk
                        %span.al-name TBA
                        %span.al-company
      
                      .agenda__list-item
                        .agenda__time 15:15 - 16:15
                        .agenda__desc
                          %span.al-title Talk
                          %span.al-name TBA
                          %span.al-company
      
                      .agenda__list-item
                        .agenda__time 16:15 - 17:15
                        .agenda__desc
                          %span.al-title Coffee brak
                          %span.al-name
                          %span.al-company
      
                      .agenda__list-item
                        .agenda__time 17:15 - 18:15
                        .agenda__desc
                          %span.al-title Talk
                          %span.al-name TBA
                          %span.al-company

                      .agenda__list-item
                        .agenda__time 23:00 - 04:00
                        .agenda__desc
                          %span.al-title After Party
                          %span.al-name Vanilla Club
                          %span.al-company
      


            #day2-area.agenda-content2
              .agenda__list
                .agenda__list-item
                  .agenda__time 11:00 - 12:15
                  .agenda__desc
                    %span.al-title Area 55
                    %span.al-name
                    %span.al-company

                  .agenda__list-item
                    .agenda__time 12:15 - 13:15
                    .agenda__desc
                      %span.al-title Lunch
                      %span.al-name
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 13:15 - 14:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 14:15 - 15:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 15:15 - 16:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 16:15 - 17:15
                    .agenda__desc
                      %span.al-title Coffee Brak
                      %span.al-name
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 17:15 - 18:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 18:15 - 19:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 23:00 - 04:00
                    .agenda__desc
                      %span.al-title After Party
                      %span.al-name Vanilla Club
                      %span.al-company







    / DOWNLOAD SECTION **************************************
    #download.section
      .container
        .download__video
          %iframe(allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="100%" src="https://www.youtube.com/embed/YOMcSbT82Ks?rel=0" width="100%")
          //.download__video-btn
        .heroBox
          .heroBox__date
            .heroBox__date--text 1 & 2 June
            .heroBox__date--line
            .heroBox__date--text Split, Croatia
          .heroBox__heading
            %strong Largest Developer Conference
            %br
            in South East Europe
          .heroBox__buttons
            %a.btn.blue.fill(href="#tickets") Get Tickets

          .download__row
            Download our app
            .download__buttons
              %a(href="#" target="_blank")
                %img(src="img/appstore.svg" alt="AppStore")/
              %a(href="#" target="_blank")
                %img(src="img/playstore.svg" alt="PlayStore")/

    / TESTIMONIALS SECTION **************************************
    #testimonials.section
      .container
        %h1 Testimonials
        .title-desc What people say

        .testimonials
          .testimonials-item
            %table
              %tr
                %td
                  .testimonials__img
                    %img(src="img/testimonials/justin-kan.png" alt="")/
                %td
                  .testimonials__name Justin Kan
                  .testimonials__title Co-Founder Twitch
              %tr
                %td.v-top
                  .testimonials__img.quote
                %td
                  .testimonials__text "Shift was awesome! Even though I'm well connected in Silicon Valley, I ended up meeting a great friend and new business partner there. Split is a beautiful place and I can't wait to go back."

          .testimonials-item
            %table
              %tr
                %td
                  .testimonials__img
                    %img(src="img/testimonials/tom-preston.png" alt="")/
                %td
                  .testimonials__name TOM PRESTON-WERNER
                  .testimonials__title Co-Founder GitHub
              %tr
                %td.v-top
                  .testimonials__img.quote
                %td
                  .testimonials__text "For me, Shift was about perspective. I found the mix of local Croatian tech talent and international entrepreneurs refreshingly delightful. Wrap the whole thing up in the history soaked city of Split, and you’ve made for one unique and unforgettable experience."

          .testimonials-item
            %table
              %tr
                %td
                  .testimonials__img
                    %img(src="img/testimonials/evan-stites.png" alt="")/
                %td
                  .testimonials__name EVAN STITES-CLAYTON
                  .testimonials__title CTO Teespring
              %tr
                %td.v-top
                  .testimonials__img.quote
                %td
                  .testimonials__text "Shift stands out as a rare gem in a world of cookie cutter tech conferences. Listening to insightful talks from the brightest minds of today’s tech scene while surrounded by the enchanting history of a town built nearly two millenia ago, you’d be hard pressed to find a more inspiring blend of past and future. Oh, and it’s the most fun you’ll have all year!"

    / TICKETS SECTION **************************************
    #tickets.section
      .container
        %h1 Tickets
        .title-desc Buy tickets

        .tickets
          %iframe(src="https://www.eventbrite.com/tickets-external?eid=35075304179&ref=etckt" frameborder="0" height="406" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true")

    / PREVIOUS SECTION **************************************
    #previous.section
      .container
        %h1 Previous series
        .title-desc See what we did lately

        .previous
          .previous__nav
            #pn-item-all.pn-item
              %span All
            #pn-item2014.pn-item
              %span 2014
            #pn-item2015.pn-item
              %span 2015
            #pn-item2016.pn-item
              %span 2016
            #pn-item2017.pn-item.active
              %span 2017

          #slideshow2017.slideshow.show
            %a(href="https://www.flickr.com/photos/shiftsplit/sets/72157684842195725" target="_blenk")
              .previous-overlay
                .previous__btn
                  %img(src="img/icons/play_button.svg" alt="")/
                  %p Click to view the gallery
          #slideshow2016.slideshow
            %a(href="https://www.flickr.com/photos/shiftsplit/sets/72157668537132170" target="_blenk")
              .previous-overlay
                .previous__btn
                  %img(src="img/icons/play_button.svg" alt="")/
                  %p Click to view the gallery
          #slideshow2015.slideshow
            %a(href="https://www.flickr.com/photos/shiftsplit/sets/72157654137811068" target="_blenk")
              .previous-overlay
                .previous__btn
                  %img(src="img/icons/play_button.svg" alt="")/
                  %p Click to view the gallery
          #slideshow2014.slideshow
            %a(href="https://www.flickr.com/photos/shiftsplit/sets/72157645145257121" target="_blenk")
              .previous-overlay
                .previous__btn
                  %img(src="img/icons/play_button.svg" alt="")/
                  %p Click to view the gallery
          #slideshowAll.slideshow
            %a(href="https://www.flickr.com/photos/shiftsplit/sets/" target="_blenk")
              .previous-overlay
                .previous__btn
                  %img(src="img/icons/play_button.svg" alt="")/
                  %p Click to view the gallery




    / LOCATION SECTION **************************************
    #location.section
      .container
        %h1 Location
        .title-desc Where you can find us?

        .location
          .location__map
            / Google Maps
            #map(style="height: 100%;")
            :javascript
              function initMap() {
                var shiftSpot = {lat: 43.510998, lng: 16.437317};

                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 16,
                  center: shiftSpot
                });

                var contentString = "<strong>Shift Split Conference 2018</strong><br>Trg Gaje Bulata 1, Split<br>";

                var infowindow = new google.maps.InfoWindow({
                  content: contentString
                });

                var marker = new google.maps.Marker({
                  position: shiftSpot,
                  map: map,
                  title: 'Shift Conference 2018'
                });
                marker.addListener('click', function() {
                  infowindow.open(map, marker);
                });
                infowindow.open(map, marker);
              }
            %script(async="" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMAYab_tmsuABPTE_haSUcVBUqXIuuz5o&callback=initMap")

          .location__details
            %h2.small
              %span Shift
              Split Conference 2018
            .title-desc
              Trg Gaje Bulata 1,
              %br/
              Split, Croatia

            .howto
              .howto__logo
                %i.icon.map
              %h3.large
                How to get to
                %span Shift?
              .howto__choice
                %a.howto__choice-item(href="http://www.split-airport.hr/index.php?lang=en" target="_blenk")
                  %img(src="img/byPlane.png" alt="")/
                  %p by plane
                .howto__choice-spacer or
                %a.howto__choice-item(href="https://getbybus.com/en/" target="_blenk")
                  %img(src="img/byBus.png" alt="")/
                  %p by bus

            .acommodation
              .acommodation__logo
                %i.icon.bed
              %h3.large
                %span Accommodation
              %p Checkout our partner Booking for the best possible accommodation for your stay
              %a(href="https://www.booking.com/" target="_blenk")
                %img(src="img/booking.svg" alt="Booking")/






    / SUBMISSION SECTION **************************************
    #submission.section
      .container
        .submission
          %h2 Call for submission
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          .btn.blue.fill Apply

    / SPONSORS SECTION **************************************
    #sponsors.section
      .container
        %h1 Sponsors
        .title-desc Companies that support us
      .sponsors-wrap
        .sponsors-row
          .sponsors
            %h3 General Sponsor
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-five.svg" alt="")/
          .sponsors
            %h3 General Partner
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-sdz.svg" alt="")/

        .sponsors-row
          .sponsors
            %h3 Sponsors
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-microsoft.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-jetbrains.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-ericsson.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-me.svg" alt="")/
          .sponsors
            %h3 Partners
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-splitskabanka.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-reversinglabs.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-hamag.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-autodesk.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-sematext.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-hrcloud.svg" alt="")/
          .sponsors
            %h3 Friends
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-neuralab.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-tzs.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-extensionengine.svg" alt="")/

        .sponsors-row
          .sponsors
            %h3 Expo
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-netgen.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-onion.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-gamachef.svg" alt="")/
          .sponsors
            %h3 Supporters
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-span.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-aspira.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-ecp.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-cise.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-kingict.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-c.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-canada.svg" alt="")/
          .sponsors
            %h3 Food & Beverage
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-efst.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-unist.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-gradevinski.svg" alt="")/



    / FOOTER SECTION **************************************
    #footer.section
      .container
        .footer__col
          .footer__logo
          .footer__copyright
            All Rights Reserved by 
            %a(href="shift.codeanywhere.com") Shift
            © 2018
        .footer__col
          %h3 About
          %p The biggest Developer Conference in Southeast Europe. This event, Shift 2017 is the sixth and will bring together more than 1500 attendees. During the two conference days, Shift becomes a meeting place for developers in the most beautiful city in the world.
          .footer-social
            %a(href="https://twitter.com/shiftsplit")
              %img(src="img/icons/footer-twitter.svg" alt="Shift Twitter")/
            %a(href="https://www.facebook.com/shiftsplit")
              %img(src="img/icons/footer-facebook.svg" alt="Shift Facebook")/
            %a(href="https://www.youtube.com/user/TheShiftConference")
              %img(src="img/icons/footer-youtube.svg" alt="Shift Youtube")/
            %a(href="https://www.flickr.com/photos/shiftsplit/sets/")
              %img(src="img/icons/footer-flicker.svg" alt="Shift Flicker")/
            
        .footer__col
          %h3 Contact
          .contact
            Udruga "SHIFT"
            %br/
            %br/
            114. brigade 8,
            21000 Split, Croatia
            %br/
            %br/
            %a(href="mailto: info@shift.com") shift@codeanywhere.com




    








%script(src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript")
%script(src="js/script-min.js" type="text/javascript")