- # encoding: UTF-8
!!! 5
%html(lang="hr")
  %head
    %title Developer Conference : Shift DEV 2018

    %link(href="/apple-touch-icon.png?v=QEMrJgwEaY" rel="apple-touch-icon" sizes="180x180")/
    %link(href="favicon-32x32.png?v=QEMrJgwEaY" rel="icon" sizes="32x32" type="image/png")/
    %link(href="favicon-16x16.png?v=QEMrJgwEaY" rel="icon" sizes="16x16" type="image/png")/
    %link(href="manifest.json?v=QEMrJgwEaY" rel="manifest")/
    %link(color="#5bbad5" href="safari-pinned-tab.svg?v=QEMrJgwEaY" rel="mask-icon")/
    %link(href="favicon.ico?v=QEMrJgwEaY" rel="shortcut icon")/
    %meta(content="#ffffff" name="theme-color")/

    %meta(charset="UTF-8")/
    %meta(name="keywords" content="Shift, 2018, developer, developer conference, conference, dev")/
    %meta(name="description" content="The biggest Developer Conference in Southeast Europe. This event, Shift 2018 is the seventh and will bring together more than 1300 attendees. During the two conference days, Shift becomes a meeting place for developers in the most beautiful city in the world.")/
    %meta(name="author" content="horvaticluka@gmail.com")/
    %meta(id="meta" name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover")/

    %meta(property="og:image" content="https://shift.codeanywhere.com/img/top-bg.svg" )/
    %meta(property="og:title" content="Developer Conference : Shift DEV 2018")/
    %meta(property="og:discription" content="The biggest Developer Conference in Southeast Europe. This event, Shift 2018 is the seventh and will bring together more than 1300 attendees. During the two conference days, Shift becomes a meeting place for developers in the most beautiful city in the world.")/
    %meta(property="og:url" content="https://shift.codeanywhere.com/" )/

    %link(rel="stylesheet" href="css/main.css")/
    %link(rel="stylesheet" href="css/query.css")/

  %body

    / NAVBAR SECTION **************************************
    .navBar
      .container
        .navBar__logo
          %svg(height="56" viewbox="0 0 83 56" width="83" xmlns="http://www.w3.org/2000/svg")
            %title
              Shift Conference
            %path(d="M82.932 55.993H.003V0h82.929v55.993zM2.939 53.068h77.054V2.921H2.939v50.147zm5.616-32.19l2.577-2.344c.895 1.182 2.12 1.8 3.528 1.8 1.152 0 1.865-.4 1.865-1.072 0-.654-.366-.927-1.573-1.181l-1.645-.364c-2.505-.545-3.766-1.908-3.766-4.052 0-2.453 2.048-3.943 5.357-3.943 2.175 0 4.076.672 5.374 1.944l-2.175 2.417c-.896-.981-2.249-1.581-3.492-1.581-1.006 0-1.627.345-1.627.909 0 .6.42.89 1.755 1.181l1.864.417c2.468.545 3.547 1.745 3.547 3.907 0 2.689-2.139 4.325-5.634 4.325-2.523-.001-4.716-.855-5.955-2.363zM21.547 9.757h3.693v5.651c.585-1.215 1.535-1.815 2.851-1.815 1.975 0 2.98 1.253 2.98 3.689v5.651H27.38v-5.27c0-.908-.329-1.363-1.006-1.363-.732 0-1.134.581-1.134 1.654v4.979h-3.692V9.757zm11.406-.055h3.765v3.053h-3.765V9.702zm.036 4.143h3.693v9.086h-3.693v-9.086zm12.03 2.326h-2.013v6.76h-3.692v-6.76H37.96v-2.326h1.353V13.3c0-2.435 1.371-3.652 4.094-3.652.542.006 1.081.067 1.61.182v2.526c-.277-.055-.558-.085-.84-.09-.75 0-1.17.381-1.17 1.036v.545h2.011v2.326-.002zm1.002-2.326h1.517v-2.071l3.694-1.381v3.452h2.102v2.326h-2.102v2.708c0 .836.475 1.308 1.335 1.308.257.003.513-.016.767-.055v2.8c-.822.127-1.316.182-1.828.182-2.688 0-3.967-1.036-3.967-3.2v-3.743h-1.518v-2.326zM17.893 44.924v1.908H8.898v-1.908h8.995z" fill="#FFF" fill-rule="nonzero")
        .navBar__btn

        .navBar__nav
          .navBar__close
          %ul
            %li
              %a.nav__link(href="#speakers") Speakers
            %li
              %a.nav__link(href="#schedule") Schedule
            %li
              %a.nav__link(href="#tickets") Tickets
            %li
              %a.nav__link(href="#location") Location
            -#%li
              %a.nav__link(href="#sponsors") Sponsors
              .
            %li
              %a.nav__link(href="#footer") Contact
            %li
              %a.btn.blue.fill(href="#tickets") Buy Tickets

    / HERO SECTION **************************************
    #hero.section
      .container

        .heroBox
          .heroBox__date
            .heroBox__date--text 31 May & 1 June
            .heroBox__date--line
            .heroBox__date--text Split, Croatia
          .heroBox__heading
            %strong Largest Developer Conference
            %br
            in Southeast Europe
          .heroBox__buttons
            %a.btn.blue.empty(href="#tickets") Get Tickets
            .heroBox__buttons-spacer or
            %a.btn.link.white(href="https://www.youtube.com/watch?time_continue=1&v=YOMcSbT82Ks" target="_blenk") Watch our Video Review

        .heroDate
          31 May & 1 June 2018


    / ABOUT SECTION **************************************
    #about.section
      .container
        %h1.small
          %span Shift 
          Developer Conference 2018
        .title-desc The biggest Developer Conference in Southeast Europe

        .about__event
          %img(srcset="img/about@1x.jpg 1x, img/about@2x.jpg 2x" src="img/about@1x.jpg" alt="Shift Conference")/
          %i.icon.calendar
          %h2 Event
          %p The biggest Developer Conference in Southeast Europe. This event, Shift 2018 is the seventh and will bring together more than 1300 attendees. During the two conference days, Shift becomes a meeting place for developers in the most beautiful city in the world.

        .about__wrap
          .about__talks
            %i.icon.chat
            %h2 Talks
            %p Learn about the most cutting edge technologies, techniques and biggest trends in the developer space, with speakers coming from the likes of; GitHub, Twitch, Atlassian, GitLab, Heroku, Google, Facebook and many more.

          .about__workshops
            %i.icon.team
            %h2 Workshops
            %p Industry experts and thought leaders will bring you up to speed with some of the most exciting technologies: React, React Native, Webpack, and Symphony. Two-hour long hands-on workshops will be running in parallel with the rest of the event so don't forget your laptops. Workshops will take place in Area 55, seating capacity is limited so come early.

    / NUMBERS SECTION **************************************
    #numbers.section
      .container
        .numbers
          .numbers__item
            %span#count-days 2
            days
          .numbers__item
            %span#count-workshops 16
            workshops
          .numbers__item
            %span#count-speakers 20
            speakers
          .numbers__item
            %span#count-attendees 1300
            attendees

    / SPEAKERS SECTION **************************************
    #speakers.section
      .container
        %h1 Speakers
        .title-desc Meet our professionals

        .small-nav1
          #speakers-mainLink.small-nav1__item.active
            main track speakers
          #speakers-areaLink.small-nav1__item
            workshop speakers

        #speakers-main.speakers-content.show
          .speakers-wrap

            .speaker
              .speaker__image
                %img(srcset="img/speakers/tarikMakota@1x.jpg 1x, img/speakers/tarikMakota@2x.jpg 2x" src="img/speakers/tarikMakota@1x.jpg" alt="Tarik Makota")/
              .speaker__name Tarik Makota
              .speaker__title
                Partner Solutions Architect at
                %br/
                %span Amazon Web Services
              .speaker__more-btn.btn.blue.empty.small(target="8") Read more
              #sm8.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/tarik-makota-7627574/" target="_blank")
                    %img(src="img/icons/s-linkedin.svg" alt="LinkedIn")/
                  %a.social.twitter(href="https://twitter.com/tarik_makota" target="_blank")
                    %img(src="img/icons/s-twitter.svg" alt="Twitter")/
                  %a.social.github(href="https://github.com/tmakota" target="_blank")
                    %img(src="img/icons/s-github.svg" alt="GitHub")/
                .social__bio Tarik Makota is a solutions architect with the Amazon Web Services Partner Network. He provides technical guidance, design advice and thought leadership to AWS’ most strategic software partners. His career includes over 20 years of experience in software development and architecture roles across various industries such as financial printing, benefit delivery and administration and financial services.

            -#.speaker
              .speaker__image
                %img(srcset="img/speakers/luca-cipriani@1x.jpg 1x, img/speakers/luca-cipriani@2x.jpg 2x" src="img/speakers/luca-cipriani@1x.jpg" alt="Luca Cipriani")/
              .speaker__name Luca Cipriani
              .speaker__title
                CIO at
                %br/
                %span Arduino
              .speaker__more-btn.btn.blue.empty.small(target="3") Read more
              #sm3.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/lucacipriani/" target="_blank")
                    %img(src="img/icons/s-linkedin.svg" alt="LinkedIn")/
                  %a.social.twitter(href="https://twitter.com/mastrolinux?lang=en" target="_blank")
                    %img(src="img/icons/s-twitter.svg" alt="Twitter")/
                  %a.social.github(href="https://github.com/mastrolinux" target="_blank")
                    %img(src="img/icons/s-github.svg" alt="GitHub")/
                .social__bio  I am Linux expert and DevOps advocate, now CIO for Arduino and responsible of the Arduino Create platform, my goal is to move millions users to the cloud.
                .

            -#.speaker
              .speaker__image
                %img(srcset="img/speakers/wium-lie@1x.jpg 1x, img/speakers/wium-lie@2x.jpg 2x" src="img/speakers/wium-lie@1x.jpg" alt="Håkon Wium Lie")/
              .speaker__name Håkon Wium Lie
              .speaker__title
                Creator of
                %br/
                %span CSS
              .speaker__more-btn.btn.blue.empty.small(target="4") Read more
              #sm4.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/howcome/" target="_blank")
                    %img(src="img/icons/s-linkedin.svg" alt="LinkedIn")/
                  %a.social.twitter(href="https://twitter.com/wiumlie" target="_blank")
                    %img(src="img/icons/s-twitter.svg" alt="Twitter")/
                .social__bio Originally coming from a radio journalism background, he built his first web site around 1997 and spent the following years working on large, international web sites.
                .

            .speaker
              .speaker__image
                %img(srcset="img/speakers/kathy-simpson@1x.jpg 1x, img/speakers/kathy-simpson@2x.jpg 2x" src="img/speakers/kathy-simpson@1x.jpg" alt="Kathy Simpson")/
              .speaker__name Kathy Simpson
              .speaker__title
                Director of Product at
                %br/
                %span GitHub
              .speaker__more-btn.btn.blue.empty.small(target="2") Read more
              #sm2.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/kathleensimpson/" target="_blank")
                    %img(src="img/icons/s-linkedin.svg" alt="LinkedIn")/
                  %a.social.twitter(href="https://twitter.com/simpsoka" target="_blank")
                    %img(src="img/icons/s-twitter.svg" alt="Twitter")/
                  %a.social.github(href="https://github.com/simpsoka" target="_blank")
                    %img(src="img/icons/s-github.svg" alt="GitHub")/
                .social__bio Kathy Simpson is Director of Product Management at GitHub. Kathy has an engineering background and has always been a maker at heart with a passion for technology. Prior to Github, Kathy worked as Senior Product Manager at Heroku on the Human Interface Team and has taken products from early to prototypes to launch day consistently for the past 10 years.

            -#.speaker
              .speaker__image
                %img(srcset="img/speakers/peter-hopwod@1x.jpg 1x, img/speakers/peter-hopwod@2x.jpg 2x" src="img/speakers/peter-hopwod@1x.jpg" alt="Petar Hopwood")/
              .speaker__name Peter Hopwood
              .speaker__title
                Conference Host at 
                %br/
                %span Hopwood Communications & Copywriting
              .speaker__more-btn.btn.blue.empty.small(target="1") Read more
              #sm1.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/peterhopwoodpublicspeaking/" target="_blank")
                    %img(src="img/icons/s-linkedin.svg" alt="LinkedIn")/
                  %a.social.twitter(href="https://twitter.com/hopwoodmedia" target="_blank")
                    %img(src="img/icons/s-twitter.svg" alt="Twitter")/
                  %a.social.github(href="#" target="_blank")
                    %img(src="img/icons/s-github.svg" alt="GitHub")/
                .social__bio Global public speaking, impact and presence coach helping professionals, brands and teams to shine with impact when it matters. In demand across Europe and Middle East.
                .

            .speaker
              .speaker__image
                %img(srcset="img/speakers/seanLarkin@1x.jpg 1x, img/speakers/seanLarkin@2x.jpg 2x" src="img/speakers/seanLarkin@1x.jpg" alt="Sean Larkin")/
              .speaker__name Sean Larkin
              .speaker__title
                Technical Program Manager at
                %br/
                %span Microsoft
              .speaker__more-btn.btn.blue.empty.small(target="5") Read more
              #sm5.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/seanthomaslarkin/" target="_blank")
                    %img(src="img/icons/s-linkedin.svg" alt="LinkedIn")/
                  %a.social.twitter(href="https://twitter.com/TheLarkInn" target="_blank")
                    %img(src="img/icons/s-twitter.svg" alt="Twitter")/
                  %a.social.github(href="https://github.com/thelarkinn" target="_blank")
                    %img(src="img/icons/s-github.svg" alt="GitHub")/
                .social__bio Former technical support representative turned renegade software engineer and web developer, driven by the need to help people through the code he writes. Sean is a member of the Webpack core team, angular team and angular-cli core team. Lives to teach others about the world of Web Development. Obsessed with AngularJS, readability, Webpack, bundlers, tooling, and anything that helps Web Dev and Engineering easier and more enjoyable for anyone!

            -#.speaker
              .speaker__image
                %img(srcset="img/speakers/marcAbraham@1x.jpg 1x, img/speakers/marcAbraham@2x.jpg 2x" src="img/speakers/marcAbraham@1x.jpg" alt="Marc Abraham")/
              .speaker__name Marc Abraham
              .speaker__title
                Global ProductTank Coordinator at
                %br/
                %span Mind the Product
              .speaker__more-btn.btn.blue.empty.small(target="6") Read more
              #sm6.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/abrahammarc/" target="_blank")
                    %img(src="img/icons/s-linkedin.svg" alt="LinkedIn")/
                .social__bio
                .

            -#.speaker
              .speaker__image
                %img(srcset="img/speakers/mathiasMeyer@1x.jpg 1x, img/speakers/mathiasMeyer@2x.jpg 2x" src="img/speakers/mathiasMeyer@1x.jpg" alt="Mathias Meyer")/
              .speaker__name Mathias Meyer
              .speaker__title
                CEO at
                %br/
                %span TravisCI
              .speaker__more-btn.btn.blue.empty.small(target="7") Read more
              #sm7.speaker__more
                .speaker__social
                  %a.social.linkedin(href="https://www.linkedin.com/in/mathias-meyer-50a753aa/" target="_blank")
                    %img(src="img/icons/s-linkedin.svg" alt="LinkedIn")/
                  %a.social.twitter(href="https://twitter.com/roidrage" target="_blank")
                    %img(src="img/icons/s-twitter.svg" alt="Twitter")/
                  %a.social.github(href="https://github.com/roidrage" target="_blank")
                    %img(src="img/icons/s-github.svg" alt="GitHub")/
                .social__bio
                .



          .more-comming
            More coming soon…


        #speakers-area.speakers-content
          .speakers-wrap

          .more-comming
            More coming soon…




    / SCHEDULE SECTION **************************************
    #schedule.section
      .container
        %h1 Schedule
        .title-desc Vast number of different speeches and activities

        .agenda-wrap

          .agenda-nav-wrap
            .agenda-nav
              .agenda-nav__btn(target="an-left")
                <
              .agenda-nav__btn(target="an-right")
                >

          #day1.agenda.show
            .agenda__title Day 1 - 31/05/2018 - Thursday
            .small-nav2
              #day1-mainLink.small-nav2__item.active
                main track
              #day1-areaLink.small-nav2__item
                workshop

            #day1-main.agenda-content1.show
              .agenda__list
                .agenda__list-item
                  .agenda__time 10:00 - 11:00
                  .agenda__desc
                    %span.al-title Registration
                    %span.al-name
                    %span.al-company

                  .agenda__list-item
                    .agenda__time 11:00 - 11:15
                    .agenda__desc
                      %span.al-title Official Opening -
                      %span.al-name Ivan Burazin
                      %span.al-company (Codeanywhere)

                  .agenda__list-item
                    .agenda__time 11:15 - 12:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 12:15 - 13:00
                    .agenda__desc
                      %span.al-title Lunch
                      %span.al-name 
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 13:00 - 14:00
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 14:00 - 15:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 15:15 - 16:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 16:15 - 17:15
                    .agenda__desc
                      %span.al-title Coffee Break
                      %span.al-name
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 17:15 - 18:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 23:00 - 04:00
                    .agenda__desc
                      %span.al-title After Party
                      %span.al-name
                      %span.al-company




            #day1-area.agenda-content1
              .agenda__list
                .agenda__list-item
                  .agenda__time 11:00 - 12:15
                  .agenda__desc
                    %span.al-title Workshop
                    %span.al-name TBA
                    %span.al-company

                  .agenda__list-item
                    .agenda__time 12:15 - 13:15
                    .agenda__desc
                      %span.al-title Lunch
                      %span.al-name
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 13:15 - 14:15
                    .agenda__desc
                      %span.al-title Workshop
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 14:15 - 15:15
                    .agenda__desc
                      %span.al-title Workshop
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 15:15 - 16:15
                    .agenda__desc
                      %span.al-title Workshop
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 16:15 - 17:15
                    .agenda__desc
                      %span.al-title Coffee Break
                      %span.al-name
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 23:00 - 04:00
                    .agenda__desc
                      %span.al-title After Party
                      %span.al-name
                      %span.al-company



          #day2.agenda
            .agenda__title Day 2 - 01/06/2018 - Friday
            .small-nav3
              #day2-mainLink.small-nav3__item.active
                main track
              #day2-areaLink.small-nav3__item
                workshop

            #day2-main.agenda-content2.show
              .agenda__list
                .agenda__list-item
                  .agenda__time 10:00 - 11:00
                  .agenda__desc
                    %span.al-title Registration
                    %span.al-name
                    %span.al-company

                  .agenda__list-item
                    .agenda__time 11:00 - 11:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 11:15 - 12:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 12:15 - 13:15
                    .agenda__desc
                      %span.al-title Lunch
                      %span.al-name
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 13:15 - 14:15
                    .agenda__desc
                      %span.al-title Talk
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list
                    .agenda__list-item
                      .agenda__time 14:00 - 15:15
                      .agenda__desc
                        %span.al-title Talk
                        %span.al-name TBA
                        %span.al-company
      
                      .agenda__list-item
                        .agenda__time 15:15 - 16:15
                        .agenda__desc
                          %span.al-title Talk
                          %span.al-name TBA
                          %span.al-company
      
                      .agenda__list-item
                        .agenda__time 16:15 - 17:15
                        .agenda__desc
                          %span.al-title Coffee brak
                          %span.al-name
                          %span.al-company
      
                      .agenda__list-item
                        .agenda__time 17:15 - 18:15
                        .agenda__desc
                          %span.al-title Talk
                          %span.al-name TBA
                          %span.al-company

                      .agenda__list-item
                        .agenda__time 23:00 - 04:00
                        .agenda__desc
                          %span.al-title After Party
                          %span.al-name
                          %span.al-company
      


            #day2-area.agenda-content2
              .agenda__list
                .agenda__list-item
                  .agenda__time 11:00 - 12:15
                  .agenda__desc
                    %span.al-title Workshop
                    %span.al-name
                    %span.al-company

                  .agenda__list-item
                    .agenda__time 12:15 - 13:15
                    .agenda__desc
                      %span.al-title Lunch
                      %span.al-name
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 13:15 - 14:15
                    .agenda__desc
                      %span.al-title Workshop
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 14:15 - 15:15
                    .agenda__desc
                      %span.al-title Workshop
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 15:15 - 16:15
                    .agenda__desc
                      %span.al-title Workshop
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 16:15 - 17:15
                    .agenda__desc
                      %span.al-title Coffee Brak
                      %span.al-name
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 17:15 - 18:15
                    .agenda__desc
                      %span.al-title Workshop
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 18:15 - 19:15
                    .agenda__desc
                      %span.al-title Workshop
                      %span.al-name TBA
                      %span.al-company

                  .agenda__list-item
                    .agenda__time 23:00 - 04:00
                    .agenda__desc
                      %span.al-title After Party
                      %span.al-name
                      %span.al-company







    / DOWNLOAD SECTION **************************************
    #download.section
      .container
        .download__video
          %iframe(allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="100%" src="https://www.youtube.com/embed/YOMcSbT82Ks?rel=0" width="100%")
          //.download__video-btn
        .heroBox
          .heroBox__date
            .heroBox__date--text 31 May & 1 June
            .heroBox__date--line
            .heroBox__date--text Split, Croatia
          .heroBox__heading
            %strong Largest Developer Conference
            %br
            in Southeast Europe
          .heroBox__buttons
            %a.btn.blue.fill(href="#tickets") Get Tickets

          .download__row
            Download our app
            .download__buttons
              %a(href="https://itunes.apple.com/il/app/shift-developer-conference/id1237840908?mt=8" target="_blank")
                %img(src="img/appstore.svg" alt="AppStore")/
              %a(href="https://play.google.com/store/apps/details?id=co.synergetica.shift" target="_blank")
                %img(src="img/playstore.svg" alt="PlayStore")/

    / TESTIMONIALS SECTION **************************************
    #testimonials.section
      .container
        %h1 Testimonials
        .title-desc What people say

        .testimonials
          .testimonials-item
            %table
              %tr
                %td
                  .testimonials__img
                    %img(src="img/testimonials/una.jpg" alt="")/
                %td
                  .testimonials__name Una Kravits
                  .testimonials__title UI Engineer at DigitalOcean
              %tr
                %td.v-top
                  .testimonials__img.quote
                %td
                  .testimonials__text "Shift was a really exciting glance into the tech community of Split. I was really impressed with the venue, the people and conversations I had there, and feel really lucky that I had a chance to explore the city itself."

          .testimonials-item
            %table
              %tr
                %td
                  .testimonials__img
                    %img(src="img/testimonials/tom-preston.png" alt="")/
                %td
                  .testimonials__name TOM PRESTON-WERNER
                  .testimonials__title Co-Founder GitHub
              %tr
                %td.v-top
                  .testimonials__img.quote
                %td
                  .testimonials__text "For me, Shift was about perspective. I found the mix of local Croatian tech talent and international entrepreneurs refreshingly delightful. Wrap the whole thing up in the history soaked city of Split, and you’ve made for one unique and unforgettable experience."

          .testimonials-item
            %table
              %tr
                %td
                  .testimonials__img
                    %img(src="img/testimonials/evan-stites.png" alt="")/
                %td
                  .testimonials__name EVAN STITES-CLAYTON
                  .testimonials__title CTO Teespring
              %tr
                %td.v-top
                  .testimonials__img.quote
                %td
                  .testimonials__text "Shift stands out as a rare gem in a world of cookie cutter tech conferences. Listening to insightful talks from the brightest minds of today’s tech scene while surrounded by the enchanting history of a town built nearly two millenia ago, you’d be hard pressed to find a more inspiring blend of past and future. Oh, and it’s the most fun you’ll have all year!"

    / TICKETS SECTION **************************************
    #tickets.section
      .container
        %h1 Tickets
        .title-desc Buy tickets

        .tickets
          %iframe(src="https://www.eventbrite.com/tickets-external?eid=35075304179&ref=etckt" frameborder="0" height="406" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true")

    / PREVIOUS SECTION **************************************
    #previous.section
      .container
        %h1 Previous series
        .title-desc See what we did lately

        .previous
          .previous__nav
            #pn-item-all.pn-item
              %span All
            #pn-item2012.pn-item
              %span 2012
            #pn-item2013.pn-item
              %span 2013
            #pn-item2014.pn-item
              %span 2014
            #pn-item2015.pn-item
              %span 2015
            #pn-item2016.pn-item
              %span 2016
            #pn-item2017.pn-item.active
              %span 2017

          #slideshow2017.slideshow.show
            %a(href="https://www.flickr.com/photos/shiftsplit/sets/72157684842195725" target="_blenk")
              .previous-overlay
                .previous__btn
                  %svg(height="55" viewbox="0 0 55 55" width="55" xmlns="http://www.w3.org/2000/svg")
                    %g(fill="none" fill-rule="evenodd")
                      %circle(cx="27.5" cy="27.5" fill="#005DF2" r="27.5")
                      %path(d="M35.5 28.5l-11 8v-16z" fill="#FFF" opacity=".863")
                  %p Click to view the gallery
          #slideshow2016.slideshow
            %a(href="https://www.flickr.com/photos/shiftsplit/sets/72157668537132170" target="_blenk")
              .previous-overlay
                .previous__btn
                  %svg(height="55" viewbox="0 0 55 55" width="55" xmlns="http://www.w3.org/2000/svg")
                    %g(fill="none" fill-rule="evenodd")
                      %circle(cx="27.5" cy="27.5" fill="#005DF2" r="27.5")
                      %path(d="M35.5 28.5l-11 8v-16z" fill="#FFF" opacity=".863")
                  %p Click to view the gallery
          #slideshow2015.slideshow
            %a(href="https://www.flickr.com/photos/shiftsplit/sets/72157654137811068" target="_blenk")
              .previous-overlay
                .previous__btn
                  %svg(height="55" viewbox="0 0 55 55" width="55" xmlns="http://www.w3.org/2000/svg")
                    %g(fill="none" fill-rule="evenodd")
                      %circle(cx="27.5" cy="27.5" fill="#005DF2" r="27.5")
                      %path(d="M35.5 28.5l-11 8v-16z" fill="#FFF" opacity=".863")
                  %p Click to view the gallery
          #slideshow2014.slideshow
            %a(href="https://www.flickr.com/photos/shiftsplit/sets/72157645145257121" target="_blenk")
              .previous-overlay
                .previous__btn
                  %svg(height="55" viewbox="0 0 55 55" width="55" xmlns="http://www.w3.org/2000/svg")
                    %g(fill="none" fill-rule="evenodd")
                      %circle(cx="27.5" cy="27.5" fill="#005DF2" r="27.5")
                      %path(d="M35.5 28.5l-11 8v-16z" fill="#FFF" opacity=".863")
                  %p Click to view the gallery
          #slideshow2013.slideshow
            %a(href="https://www.flickr.com/photos/shiftsplit/albums/72157633757857833" target="_blenk")
              .previous-overlay
                .previous__btn
                  %svg(height="55" viewbox="0 0 55 55" width="55" xmlns="http://www.w3.org/2000/svg")
                    %g(fill="none" fill-rule="evenodd")
                      %circle(cx="27.5" cy="27.5" fill="#005DF2" r="27.5")
                      %path(d="M35.5 28.5l-11 8v-16z" fill="#FFF" opacity=".863")
                  %p Click to view the gallery
          #slideshow2012.slideshow
            %a(href="https://www.flickr.com/photos/shiftsplit/albums/72157630002364465" target="_blenk")
              .previous-overlay
                .previous__btn
                  %svg(height="55" viewbox="0 0 55 55" width="55" xmlns="http://www.w3.org/2000/svg")
                    %g(fill="none" fill-rule="evenodd")
                      %circle(cx="27.5" cy="27.5" fill="#005DF2" r="27.5")
                      %path(d="M35.5 28.5l-11 8v-16z" fill="#FFF" opacity=".863")
                  %p Click to view the gallery
          #slideshowAll.slideshow
            %a(href="https://www.flickr.com/photos/shiftsplit/sets/" target="_blenk")
              .previous-overlay
                .previous__btn
                  %svg(height="55" viewbox="0 0 55 55" width="55" xmlns="http://www.w3.org/2000/svg")
                    %g(fill="none" fill-rule="evenodd")
                      %circle(cx="27.5" cy="27.5" fill="#005DF2" r="27.5")
                      %path(d="M35.5 28.5l-11 8v-16z" fill="#FFF" opacity=".863")
                  %p Click to view the gallery




    / LOCATION SECTION **************************************
    #location.section
      .container
        %h1 Location
        .title-desc Where you can find us?

        .location
          .location__map
            / Google Maps
            #map(style="height: 100%;")
            :javascript
              function initMap() {
                var shiftSpot = {lat: 43.510998, lng: 16.437317};

                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 16,
                  center: shiftSpot
                });

                var contentString = "<strong>Shift Developer Conference 2018</strong><br>Trg Gaje Bulata 1, Split<br>";

                var infowindow = new google.maps.InfoWindow({
                  content: contentString
                });

                var marker = new google.maps.Marker({
                  position: shiftSpot,
                  map: map,
                  title: 'Shift Developer Conference 2018'
                });
                marker.addListener('click', function() {
                  infowindow.open(map, marker);
                });
                infowindow.open(map, marker);
              }
            %script(async="" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMAYab_tmsuABPTE_haSUcVBUqXIuuz5o&callback=initMap")

          .location__details
            %h2.small
              %span Shift 
              Developer Conference 2018
            .title-desc
              Trg Gaje Bulata 1,
              %br/
              Split, Croatia

            .howto
              .howto__logo
                %i.icon.map
              %h3.large
                How to get to
                %span Shift?
              .howto__choice
                %a.howto__choice-item(href="http://www.split-airport.hr/index.php?lang=en" target="_blenk")
                  %img(src="img/location/byPlane.svg" alt="Split Airport")/
                  %p by plane
                .howto__choice-spacer or
                %a.howto__choice-item(href="https://getbybus.com/en/" target="_blenk")
                  %img(src="img/location/byBus.svg" alt="GetByBus")/
                  %p by bus

            .acommodation
              .acommodation__logo
                %i.icon.bed
              %h3.large
                %span Accommodation
              %p Checkout our partner Booking for the best possible accommodation for your stay
              %a(href="https://www.booking.com/" target="_blenk")
                %img(src="img/location/booking.svg" alt="Booking")/






    / SUBMISSION SECTION **************************************
    #submission.section
      .container
        .submission
          %h2 Call for proposals
          %p Come share your experience about extraordinary achievements, exciting technologies, or futuristic patterns that will shape developers' lives and the industry. Apply one or more 30 minute talk ideas that you want to present in front of Shift's audience.
          %a.btn.blue.fill(href="https://sessionize.com/shift/" target="_blenk") Apply

    / SPONSORS SECTION **************************************
    #sponsors.section
      .container
        %h1 Sponsors
        .title-desc Companies that support us
      .sponsors-wrap
        .sponsors-row
          .sponsors
            %h3 General Sponsor
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-five.svg" alt="")/
          .sponsors
            %h3 General Partner
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-sdz.svg" alt="")/

        .sponsors-row
          .sponsors
            %h3 Sponsors
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-microsoft.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-jetbrains.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-ericsson.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-me.svg" alt="")/
          .sponsors
            %h3 Partners
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-splitskabanka.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-reversinglabs.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-hamag.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-autodesk.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-sematext.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-hrcloud.svg" alt="")/
          .sponsors
            %h3 Friends
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-neuralab.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-tzs.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-extensionengine.svg" alt="")/

        .sponsors-row
          .sponsors
            %h3 Expo
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-netgen.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-onion.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-gamachef.svg" alt="")/
          .sponsors
            %h3 Supporters
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-span.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-aspira.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-ecp.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-cise.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-kingict.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-c.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-canada.svg" alt="")/
          .sponsors
            %h3 Food & Beverage
            .sponsors__group
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-efst.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-unist.svg" alt="")/
              .sponsors__item
                %a(href="")
                  %img(src="img/sponsors/sponsors-gradevinski.svg" alt="")/



    / FOOTER SECTION **************************************
    #footer.section
      .container
        .footer__col
          .footer__logo
          .footer__copyright
            All Rights Reserved by 
            %a(href="https://shiftconf.co/") Shift 
            © 2018
        .footer__col
          %h3 About
          %p The biggest Developer Conference in Southeast Europe. This event, Shift 2018 is the seventh and will bring together more than 1300 attendees. During the two conference days, Shift becomes a meeting place for developers in the most beautiful city in the world.
          .footer-social
            %a(href="https://twitter.com/shiftsplit")
              %img(src="img/icons/s-twitter.svg" alt="Shift Twitter")/
            %a(href="https://www.facebook.com/shiftsplit")
              %img(src="img/icons/s-facebook.svg" alt="Shift Facebook")/
            %a(href="https://www.youtube.com/user/TheShiftConference")
              %img(src="img/icons/s-youtube.svg" alt="Shift Youtube")/
            %a(href="https://www.flickr.com/photos/shiftsplit/sets/")
              %img(src="img/icons/s-flicker.svg" alt="Shift Flicker")/
            %a(href="https://www.instagram.com/shiftsplit/")
              %img(src="img/icons/s-instagram.svg" alt="Shift Instagram")/
            
        .footer__col
          %h3 Contact
          .contact
            Udruga “SHIFT”
            %br/
            %br/
            114. brigade 8,
            21000 Split, Croatia
            %br/
            %br/
            %a(href="mailto: shift@shiftconf.co") shift@shiftconf.co














%script(crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js")
%script(src="js/script.min.js" type="text/javascript")