/* NOTE.STYL ======================================= */

#note
    padding: 200px 0
    background: colorBlueDark

    .container
        flexbox()
        flex-flow: column nowrap

        h1
            color: white
            margin: 0px 0 90px 0

        p
            color: white
            line-height: 1.5
            font-size: 20px
            margin-bottom: 20px

            a
                color: colorBlueLight

                &:hover
                    text-decoration: underline
