/* NOTE.STYL ======================================= */

#note
    padding: 200px 0
    background: colorBlueDark

    .container
        flexbox()
        flex-flow: column nowrap

        p
            color: white
            line-height: 1.5
            font-size: 20px
            margin-bottom: 20px
