/* SPONSORS.STYL ======================================= */

#sponsors
    margin-bottom: 50px

.sponsors-wrap,
.sponsors-row,
.sponsors,
.sponsors__group,
.sponsors__item
    flexbox()

.sponsors-wrap
    flex-flow: column nowrap

    .sponsors-row
        justify-content: center
        margin: 20px 0

    .sponsors
        flex-flow: column nowrap
        flex-center()

        .sponsors__group
            flex-center()
            margin: 0 20px

            .sponsors__item
                flex-center()
                margin: 0 20px

                img
                    filter: grayscale(100%)
                    transition(.2s)
                    width: 90px

                a:hover img
                    filter: grayscale(0%)